
<html>

<head>
    <title>Goes to 11</title>

    <!-- load bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- load angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <style>
        body {
            padding-top: 80px;
        }
    </style>


    <script>
    
    var testResults = ["alpha", "bravo", "cast", "delta", "echo"]
    angular.module('formApp', [])
        .controller('formController', function($scope, $http) {
            $scope.input; //string from the search box
            $scope.results = testResults;  //array reply'd from server

            $scope.helloGo = function() {
                console.log($scope.input);
                $http.get('go/suggest/'+$scope.input)
                .success(function (data, status, headers) {
                        $scope.results = data;
                    })
                    .error(function (data, status, header) {
                    });
            }

            // $scope.signup = function() {
            //         //POST to the server using $http.post()
            //         $http.post('/api/v1/addAccount', $scope.formData)
            //         .success(function (data, status, headers) {
            //             $scope.PostDataResponse = data;
            //         })
            //         .error(function (data, status, header) {
            //             $scope.ResponseDetails = "Data: " + data +
            //                 "<hr />status: " + status +
            //                 "<hr />headers: " + header;
            //         });
                   
            // };

        });
    </script>

</head>



<body ng-app="formApp" ng-controller="formController">

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../index.html">Go Challenge</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="https://www.ics.uci.edu/~fielding/pubs/dissertation/rest_arch_style.htm">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/ericriner">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="jumbotron text-center">


            <h1><span class="fa fa-rebel"></span> Goes to 11 <span class="fa fa-rebel"></span></h1>

        
            <div class="col-sm-6 col-sm-offset-3">

                <input name="try" class="form-control" placeholder="go for broke" ng-model="input" ng-change="helloGo()" required>

                <div id="resultsContainer" >
                    <div ng-repeat="result in results">{{result}}</div>
                </div>

            </div>


        </div>
    </div>
</body>

</html>
